# Created by https://www.gitignore.io/api/cmake

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

*/build-Default/
*/CMakeLists.txt.user
*/build-Default/
*/build/

# Independent Exercise Executables #
FunctionSpecialization
PriorityQueue
SFINEY
Stack
Temp
Type_traits
Undo
TemplateTemplate
VariadicTemplate

TCP/Client
TCP/Server

Temp.cpp
